Repository cloudoperators/greenhouse-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudoperators/Administrators, @cloudoperators/greenhouse-core, @cloudoperators/greenhouse-backend, @cloudoperators/greenhouse-observability, @andypf, @artiereus, @edda, @hodanoori, @tilmanhaupt, @uwe-mayer, @Nuckal777, @ivogoman, @databus23, @voigts, @cloudoperators/greenhouse-frontend, @cloudoperators/greenhouse-src, @dimtas

chore(kube-monitoring): Add limitation to pod sd target selection
  kube-monitoring/README.md
  kube-monitoring/charts/Chart.yaml
  kube-monitoring/charts/templates/podmonitor-sd.yaml
  kube-monitoring/charts/values.yaml
  kube-monitoring/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

chore(kube-monitoring): upgrade prometheus-operator version
  kube-monitoring/charts/Chart.yaml
  kube-monitoring/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

add thanos ruler svc
  thanos/charts/templates/ruler/ruler-svc.yaml
  thanos/charts/values.yaml
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

chore(kube-monitoring): Add limitation to pod sd target selection (#621)
  kube-monitoring/README.md
  kube-monitoring/charts/Chart.yaml
  kube-monitoring/charts/templates/podmonitor-sd.yaml
  kube-monitoring/charts/values.yaml
  kube-monitoring/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

bump version
  thanos/charts/Chart.yaml
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

[thanos] add thanos ruler svc for service discovery (#623)
  thanos/charts/Chart.yaml
  thanos/charts/templates/ruler/ruler-svc.yaml
  thanos/charts/values.yaml
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

chore(kube-monitoring): upgrade prometheus-operator version (#622)
  kube-monitoring/charts/Chart.yaml
  kube-monitoring/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

fix svc label selector
  thanos/charts/templates/ruler/ruler-svc.yaml
Owners: @cloudoperators/greenhouse-observability

bump version
  thanos/charts/Chart.yaml
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

unnecessary label
  thanos/charts/templates/ruler/ruler-svc.yaml
Owners: @cloudoperators/greenhouse-observability

fix(kube-monitoring): ensure camel case relabeling
  kube-monitoring/charts/Chart.yaml
  kube-monitoring/charts/templates/podmonitor-sd.yaml
  kube-monitoring/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

fix(kube-monitoring): ensure camel case relabeling (#626)
  kube-monitoring/charts/Chart.yaml
  kube-monitoring/charts/templates/podmonitor-sd.yaml
  kube-monitoring/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

fix(thanos) fix svc label selector (#625)
  thanos/charts/Chart.yaml
  thanos/charts/templates/ruler/ruler-svc.yaml
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

bump version
  thanos/charts/Chart.yaml
  thanos/charts/values.yaml
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

bump version
  thanos/charts/Chart.yaml
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

fix(thanos) Enable standalone thanos query deployment (#567)
  thanos/charts/Chart.yaml
  thanos/charts/templates/compactor-svc.yaml
  thanos/charts/templates/compactor.yaml
  thanos/charts/templates/pvc.yaml
  thanos/charts/templates/ruler/alertmanager-config.yaml
  thanos/charts/templates/ruler/alertmanager-sso-secret.yaml
  thanos/charts/templates/ruler/ruler.yaml
  thanos/charts/templates/store-svc.yaml
  thanos/charts/templates/store.yaml
  thanos/charts/templates/tests/test-thanos-config.yaml
  thanos/charts/values.yaml
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

specify port name to expose
  thanos/charts/Chart.yaml
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

bump version
  thanos/charts/Chart.yaml
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

fix(thanos) labelselector specify http port name (#627)
  thanos/charts/Chart.yaml
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

update thanos ruler portName
  thanos/charts/Chart.yaml
  thanos/charts/templates/ruler/ruler.yaml
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

update thanos ruler portName (#629)
  thanos/charts/Chart.yaml
  thanos/charts/templates/ruler/ruler.yaml
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

feat(kube-monitoring): refactor alertmanager config
  kube-monitoring/charts/templates/alertmanager-tls-secret.yaml
  kube-monitoring/charts/values.yaml
Owners: @cloudoperators/greenhouse-observability

feat(service-proxy): secure endpoint with oauth2-proxy
  service-proxy/charts/1.0.0/service-proxy/Chart.yaml
  service-proxy/charts/1.0.0/service-proxy/ci/test-values.yaml
  service-proxy/charts/1.0.0/service-proxy/templates/_helpers.tpl
  service-proxy/charts/1.0.0/service-proxy/templates/ingress.yaml
  service-proxy/charts/1.0.0/service-proxy/templates/oauth2-proxy-deployment.yaml
  service-proxy/charts/1.0.0/service-proxy/templates/oauth2-proxy-ingress.yaml
  service-proxy/charts/1.0.0/service-proxy/templates/oauth2-proxy-service.yaml
  service-proxy/charts/1.0.0/service-proxy/values.yaml
Owners: @cloudoperators/greenhouse-backend, @databus23

fix(actions): pr build cleanup filter
  .github/workflows/ci-pr-build.yaml
Owners: @cloudoperators/greenhouse-core

chore(perses): update dashboard configurations
  perses/charts/Chart.yaml
  perses/charts/dashboards/api-server.json
  perses/charts/dashboards/core-dns.json
  perses/charts/dashboards/kubernetes-container-resources.json
  perses/charts/dashboards/kubernetes-node.json
  perses/charts/dashboards/prometheus-details.json
Owners: @cloudoperators/greenhouse-observability

chore(perses): update dashboard configurations (#631)
  perses/charts/Chart.yaml
  perses/charts/dashboards/api-server.json
  perses/charts/dashboards/core-dns.json
  perses/charts/dashboards/kubernetes-container-resources.json
  perses/charts/dashboards/kubernetes-node.json
  perses/charts/dashboards/prometheus-details.json
Owners: @cloudoperators/greenhouse-observability

chore(perses): bump version to 0.3.3 and update helm chart version to 0.9.3
  perses/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

chore(perses) bump version (#632)
  perses/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

simple serviceselector
  thanos/charts/templates/servicemonitor.yaml
Owners: @cloudoperators/greenhouse-observability

bump version
  thanos/charts/Chart.yaml
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

fix: whitespace, domains, cookie-csrf
  service-proxy/charts/1.0.0/service-proxy/templates/oauth2-proxy-deployment.yaml
Owners: @cloudoperators/greenhouse-backend, @databus23

fix: remove quotation
  service-proxy/charts/1.0.0/service-proxy/templates/oauth2-proxy-deployment.yaml
Owners: @cloudoperators/greenhouse-backend, @databus23

rename ingress host
  service-proxy/charts/1.0.0/service-proxy/templates/ingress.yaml
  service-proxy/charts/1.0.0/service-proxy/templates/oauth2-proxy-ingress.yaml
Owners: @cloudoperators/greenhouse-backend, @databus23

Reuse Version update from dep to toml
  .reuse/dep5
  REUSE.toml
Owners: @cloudoperators/Administrators

Automatic application of license header
  REUSE.toml
Owners: @cloudoperators/Administrators

serviceMonitor control flow
  thanos/charts/templates/servicemonitor.yaml
  thanos/charts/values.yaml
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

helm lint
  thanos/charts/templates/servicemonitor.yaml
  thanos/charts/values.yaml
Owners: @cloudoperators/greenhouse-observability

update test framework
  thanos/charts/templates/tests/test-thanos-config.yaml
Owners: @cloudoperators/greenhouse-observability

typo
  thanos/charts/templates/tests/test-thanos-config.yaml
Owners: @cloudoperators/greenhouse-observability

chore(kubeconfig-generator): bump chart & app version
  kubeconfig-generator/chart/Chart.yaml
  kubeconfig-generator/plugindefinition.yaml
Owners: @Nuckal777, @ivogoman, @uwe-mayer

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*                         @cloudoperators/Administrators

/.github/                 @cloudoperators/Administrators
/.github/configs/         @cloudoperators/greenhouse-core
/.github/workflows/       @cloudoperators/greenhouse-core
/.github/labeler.yml      @cloudoperators/greenhouse-core
/.github/licenserc.yaml   @cloudoperators/greenhouse-core
/.github/renovate.json    @cloudoperators/greenhouse-core

Makefile                  @cloudoperators/greenhouse-backend
ct.yaml                   @cloudoperators/greenhouse-backend
Dockerfile.otel-collector @cloudoperators/greenhouse-observability
Dockerfile.integration-test @cloudoperators/greenhouse-core @cloudoperators/greenhouse-observability

/docs/                    @cloudoperators/greenhouse-core
/hack/                    @cloudoperators/greenhouse-backend

# The following paths are owned by the respective maintainers
/alerts/                  @cloudoperators/greenhouse-observability
/cert-manager/            @cloudoperators/greenhouse-backend
/example-plugin/                 @cloudoperators/greenhouse-backend
/digicert-issuer/         @cloudoperators/greenhouse-backend
/disco/                   @cloudoperators/greenhouse-backend
/doop/                    @andypf @artiereus @edda @hodanoori @tilmanhaupt @uwe-mayer
/exposed-services/        @cloudoperators/greenhouse-backend
/external-dns/            @cloudoperators/greenhouse-backend
/heureka/                 @andypf @artiereus @edda @hodanoori @tilmanhaupt @uwe-mayer
/ingress-nginx/           @cloudoperators/greenhouse-backend
/kube-monitoring/         @cloudoperators/greenhouse-observability
/kubeconfig-generator/    @Nuckal777 @ivogoman @uwe-mayer
/logshipper/              @cloudoperators/greenhouse-observability @cloudoperators/greenhouse-backend
/opentelemetry/           @cloudoperators/greenhouse-observability
/plutono                  @cloudoperators/greenhouse-observability
/perses                   @cloudoperators/greenhouse-observability
/service-proxy/           @cloudoperators/greenhouse-backend @databus23 
/teams2slack/             @cloudoperators/greenhouse-backend @voigts 
/thanos/                  @cloudoperators/greenhouse-observability
ui/                       @cloudoperators/greenhouse-frontend
/heureka/                 @cloudoperators/greenhouse-src @cloudoperators/greenhouse-frontend @dimtas
/heureka-scanner-k8s-assets/     @cloudoperators/greenhouse-src @dimtas
/heureka-scanner-keppel/  @cloudoperators/greenhouse-src @dimtas
/heureka-scanner-nvd/     @cloudoperators/greenhouse-src @dimtas
/openbao/                 @cloudoperators/greenhouse-src @dimtas
/github-guard/            @cloudoperators/greenhouse-backend
