Repository cloudoperators/greenhouse-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudoperators/Administrators, @cloudoperators/greenhouse-core, @cloudoperators/greenhouse-backend, @cloudoperators/greenhouse-observability, @andypf, @artiereus, @edda, @hodanoori, @tilmanhaupt, @uwe-mayer, @Nuckal777, @ivogoman, @databus23, @voigts, @cloudoperators/greenhouse-frontend, @cloudoperators/greenhouse-src, @dimtas

fix(alerts): match ca secret name
  alerts/charts/Chart.yaml
  alerts/charts/templates/certmanager.yaml
  alerts/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

fix(alerts): match ca secret name (#643)
  alerts/charts/Chart.yaml
  alerts/charts/templates/certmanager.yaml
  alerts/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

Update README.md
  thanos/README.md
Owners: @cloudoperators/greenhouse-observability

fix(alerts): cert-manager created secret name
  alerts/charts/Chart.yaml
  alerts/charts/templates/hooks/caBundle-secret.yaml
  alerts/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

fix(alerts): close left parenthesis
  alerts/charts/templates/hooks/caBundle-secret.yaml
Owners: @cloudoperators/greenhouse-observability

fix(alerts): cert-manager created secret name (#644)
  alerts/charts/Chart.yaml
  alerts/charts/templates/hooks/caBundle-secret.yaml
  alerts/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

feat(helm): add perses renovate config + helm lint and test
  .github/configs/helm-lint.yaml
  .github/configs/helm-test.yaml
  .github/renovate.json
Owners: @cloudoperators/greenhouse-core

fix(reuse): no license header, change PackageSupplier
  .github/licenserc.yaml
  REUSE.toml
Owners: @cloudoperators/greenhouse-core, @cloudoperators/Administrators

[Fix]:Reuse API update Pull Request (#634)
  .github/licenserc.yaml
  .reuse/dep5
  REUSE.toml
Owners: @cloudoperators/greenhouse-core, @cloudoperators/Administrators

refactor(renovate): remove perses dependency configuration
  .github/renovate.json
Owners: @cloudoperators/greenhouse-core

chore(chart): clean up whitespace in Chart.yaml and values.yaml
  perses/charts/Chart.yaml
  perses/charts/values.yaml
Owners: @cloudoperators/greenhouse-observability

chore(chart): bump version to 0.9.4 in Chart.yaml and plugindefinition.yaml
  perses/charts/Chart.yaml
  perses/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

remove Chart.appVersion references + remove License comments
  .github/renovate.json
  thanos/charts/Chart.yaml
  thanos/charts/templates/compactor-svc.yaml
  thanos/charts/templates/compactor.yaml
  thanos/charts/templates/pvc.yaml
  thanos/charts/templates/query.yaml
  thanos/charts/templates/ruler/ruler.yaml
  thanos/charts/templates/store-svc.yaml
  thanos/charts/templates/store.yaml
  thanos/charts/values.yaml
Owners: @cloudoperators/greenhouse-core, @cloudoperators/greenhouse-observability

bump version
  thanos/charts/Chart.yaml
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

feat(perses) renovate automated prs + helm lint/test (#645)
  .github/configs/helm-lint.yaml
  .github/configs/helm-test.yaml
  perses/charts/Chart.yaml
  perses/charts/values.yaml
  perses/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-core, @cloudoperators/greenhouse-observability

bump plugindefinition version
  perses/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

Update perses/plugindefinition.yaml
  perses/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

fix(thanos) disable ruler-svc (#642)
  thanos/charts/Chart.yaml
  thanos/charts/templates/ruler/ruler-svc.yaml
  thanos/charts/templates/tests/test-permissions.yaml
  thanos/charts/templates/tests/test-thanos-config.yaml
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

address comments
  thanos/README.md
Owners: @cloudoperators/greenhouse-observability

add diagram for thanos ruler
  thanos/README.md
  thanos/img/Thanos-Standalone-Query+Ruler.drawio
  thanos/img/Thanos-Standalone-Query+Ruler.png
Owners: @cloudoperators/greenhouse-observability

chore(alerts): move ca-bundle secret to helm release
  alerts/charts/Chart.yaml
  alerts/charts/templates/caBundle-secret.yaml
  alerts/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

chore(alerts): move ca-bundle secret to helm release (#654)
  alerts/charts/Chart.yaml
  alerts/charts/templates/caBundle-secret.yaml
  alerts/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

chore(charts): add perses-0.10.0 chart and remove perses-0.9.0 chart
  perses/charts/charts/perses-0.10.0.tgz
  perses/charts/charts/perses-0.9.0.tgz
Owners: @cloudoperators/greenhouse-observability

chore(perses): bump chart and plugin versions to 0.10.1 and 0.4.1
  perses/charts/Chart.yaml
  perses/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

deps(perses) update the dependent chart to correct version (#655)
  perses/charts/Chart.yaml
  perses/charts/charts/perses-0.10.0.tgz
  perses/charts/charts/perses-0.9.0.tgz
  perses/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

bump version
  thanos/charts/Chart.yaml
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

chore: update chart versions and remove test annotations
  alerts/charts/Chart.yaml
  alerts/charts/templates/tests/test-alerts-config.yaml
  alerts/charts/templates/tests/test-permissions.yaml
  alerts/plugindefinition.yaml
  kube-monitoring/charts/Chart.yaml
  kube-monitoring/charts/templates/tests/test-kube-monitoring-config.yaml
  kube-monitoring/charts/templates/tests/test-kube-monitoring.yaml
  kube-monitoring/charts/templates/tests/test-permissions.yaml
  kube-monitoring/plugindefinition.yaml
  opentelemetry/chart/Chart.yaml
  opentelemetry/chart/templates/tests/test-opentelemetry-config.yaml
  opentelemetry/chart/templates/tests/test-permissions.yaml
  opentelemetry/plugindefinition.yaml
  plutono/charts/Chart.yaml
  plutono/charts/templates/tests/test-configmap.yaml
  plutono/charts/templates/tests/test-podsecuritypolicy.yaml
  plutono/charts/templates/tests/test-role.yaml
  plutono/charts/templates/tests/test-rolebinding.yaml
  plutono/charts/templates/tests/test-serviceaccount.yaml
  plutono/plugindefinition.yaml
  thanos/charts/Chart.yaml
  thanos/charts/templates/tests/test-permissions.yaml
  thanos/charts/templates/tests/test-thanos-config.yaml
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

fix(tests): change test kind from Job to Pod in test-kube-monitoring.yaml
  kube-monitoring/charts/templates/tests/test-kube-monitoring.yaml
Owners: @cloudoperators/greenhouse-observability

fix(tests): update health check URL in test-configmap.yaml
  plutono/charts/templates/tests/test-configmap.yaml
Owners: @cloudoperators/greenhouse-observability

chore(plugins): remove test annotations (#656)
  alerts/charts/Chart.yaml
  alerts/charts/templates/tests/test-alerts-config.yaml
  alerts/charts/templates/tests/test-permissions.yaml
  alerts/plugindefinition.yaml
  kube-monitoring/charts/Chart.yaml
  kube-monitoring/charts/templates/tests/test-kube-monitoring-config.yaml
  kube-monitoring/charts/templates/tests/test-permissions.yaml
  kube-monitoring/plugindefinition.yaml
  opentelemetry/chart/Chart.yaml
  opentelemetry/chart/templates/tests/test-opentelemetry-config.yaml
  opentelemetry/chart/templates/tests/test-permissions.yaml
  opentelemetry/plugindefinition.yaml
  plutono/charts/Chart.yaml
  plutono/charts/templates/tests/test-configmap.yaml
  plutono/charts/templates/tests/test-podsecuritypolicy.yaml
  plutono/charts/templates/tests/test-role.yaml
  plutono/charts/templates/tests/test-rolebinding.yaml
  plutono/charts/templates/tests/test-serviceaccount.yaml
  plutono/plugindefinition.yaml
  thanos/charts/Chart.yaml
  thanos/charts/templates/tests/test-permissions.yaml
  thanos/charts/templates/tests/test-thanos-config.yaml
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

chore(alerts): improved chart tests
  alerts/charts/Chart.yaml
  alerts/charts/templates/tests/test-alerts-config.yaml
  alerts/charts/templates/tests/test-alerts.yaml
  alerts/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

chore(alerts): improved chart tests (#657)
  alerts/charts/Chart.yaml
  alerts/charts/templates/tests/test-alerts-config.yaml
  alerts/charts/templates/tests/test-alerts.yaml
  alerts/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

feat(service-proxy): secure endpoint with oauth2-proxy (#628)
  .github/workflows/ci-pr-build.yaml
  service-proxy/charts/1.0.0/service-proxy/Chart.yaml
  service-proxy/charts/1.0.0/service-proxy/ci/test-values.yaml
  service-proxy/charts/1.0.0/service-proxy/templates/_helpers.tpl
  service-proxy/charts/1.0.0/service-proxy/templates/ingress.yaml
  service-proxy/charts/1.0.0/service-proxy/templates/oauth2-proxy-deployment.yaml
  service-proxy/charts/1.0.0/service-proxy/templates/oauth2-proxy-ingress.yaml
  service-proxy/charts/1.0.0/service-proxy/templates/oauth2-proxy-service.yaml
  service-proxy/charts/1.0.0/service-proxy/values.yaml
Owners: @cloudoperators/greenhouse-core, @cloudoperators/greenhouse-backend, @databus23

fix(alerts): match prometheus root issuer
  alerts/charts/Chart.yaml
  alerts/charts/templates/certmanager.yaml
  alerts/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

chore(alerts): align test on new certificate name
  alerts/charts/templates/tests/test-alerts-config.yaml
Owners: @cloudoperators/greenhouse-observability

chore(service-proxy): bump plugindefinition version
  service-proxy/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-backend, @databus23

chore(service-proxy): bump plugindefinition version (#659)
  service-proxy/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-backend, @databus23

chore(alerts): more effective naming for cert-manager resources
  alerts/charts/templates/certmanager.yaml
Owners: @cloudoperators/greenhouse-observability

chore(alerts): apply renaming
  alerts/charts/templates/tests/test-alerts-config.yaml
Owners: @cloudoperators/greenhouse-observability

fix(alerts): match prometheus root issuer (#658)
  alerts/charts/Chart.yaml
  alerts/charts/templates/certmanager.yaml
  alerts/charts/templates/tests/test-alerts-config.yaml
  alerts/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*                         @cloudoperators/Administrators

/.github/                 @cloudoperators/Administrators
/.github/configs/         @cloudoperators/greenhouse-core
/.github/workflows/       @cloudoperators/greenhouse-core
/.github/labeler.yml      @cloudoperators/greenhouse-core
/.github/licenserc.yaml   @cloudoperators/greenhouse-core
/.github/renovate.json    @cloudoperators/greenhouse-core

Makefile                  @cloudoperators/greenhouse-backend
ct.yaml                   @cloudoperators/greenhouse-backend
Dockerfile.otel-collector @cloudoperators/greenhouse-observability
Dockerfile.integration-test @cloudoperators/greenhouse-core @cloudoperators/greenhouse-observability

/docs/                    @cloudoperators/greenhouse-core
/hack/                    @cloudoperators/greenhouse-backend

# The following paths are owned by the respective maintainers
/alerts/                  @cloudoperators/greenhouse-observability
/cert-manager/            @cloudoperators/greenhouse-backend
/example-plugin/                 @cloudoperators/greenhouse-backend
/digicert-issuer/         @cloudoperators/greenhouse-backend
/disco/                   @cloudoperators/greenhouse-backend
/doop/                    @andypf @artiereus @edda @hodanoori @tilmanhaupt @uwe-mayer
/exposed-services/        @cloudoperators/greenhouse-backend
/external-dns/            @cloudoperators/greenhouse-backend
/heureka/                 @andypf @artiereus @edda @hodanoori @tilmanhaupt @uwe-mayer
/ingress-nginx/           @cloudoperators/greenhouse-backend
/kube-monitoring/         @cloudoperators/greenhouse-observability
/kubeconfig-generator/    @Nuckal777 @ivogoman @uwe-mayer
/logshipper/              @cloudoperators/greenhouse-observability @cloudoperators/greenhouse-backend
/opentelemetry/           @cloudoperators/greenhouse-observability
/plutono                  @cloudoperators/greenhouse-observability
/perses                   @cloudoperators/greenhouse-observability
/service-proxy/           @cloudoperators/greenhouse-backend @databus23 
/teams2slack/             @cloudoperators/greenhouse-backend @voigts 
/thanos/                  @cloudoperators/greenhouse-observability
ui/                       @cloudoperators/greenhouse-frontend
/heureka/                 @cloudoperators/greenhouse-src @cloudoperators/greenhouse-frontend @dimtas
/heureka-scanner-k8s-assets/     @cloudoperators/greenhouse-src @dimtas
/heureka-scanner-keppel/  @cloudoperators/greenhouse-src @dimtas
/heureka-scanner-nvd/     @cloudoperators/greenhouse-src @dimtas
/openbao/                 @cloudoperators/greenhouse-src @dimtas
/github-guard/            @cloudoperators/greenhouse-backend
