Repository cloudoperators/greenhouse-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudoperators/Administrators, @cloudoperators/greenhouse-core, @cloudoperators/greenhouse-backend, @cloudoperators/greenhouse-observability, @andypf, @artiereus, @edda, @hodanoori, @tilmanhaupt, @uwe-mayer, @Nuckal777, @ivogoman, @databus23, @voigts, @cloudoperators/greenhouse-frontend, @cloudoperators/greenhouse-src, @dimtas

fix(kube-monitoring): carry over blackbox-exporter templates
  kube-monitoring/charts/templates/_helper.tpl
Owners: @cloudoperators/greenhouse-observability

chore(kube-monitoring): rebase onto master
  kube-monitoring/charts/Chart.lock
  kube-monitoring/charts/Chart.yaml
  kube-monitoring/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

feat(kube-monitoring): adds prometheus blackbox-exporter (#630)
  kube-monitoring/charts/Chart.lock
  kube-monitoring/charts/Chart.yaml
  kube-monitoring/charts/charts/prometheus-blackbox-exporter-9.2.0.tgz
  kube-monitoring/charts/ci/test-values.yaml
  kube-monitoring/charts/templates/_helper.tpl
  kube-monitoring/charts/values.yaml
  kube-monitoring/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

feat(thanos) update README (#652)
  thanos/README.md
  thanos/img/Thanos-Standalone-Query.drawio
  thanos/img/Thanos-setup.drawio
  thanos/img/Thanos-standalone-query.png
  thanos/img/thanos_full_diagram.drawio
  thanos/img/thanos_ruler.png
  thanos/img/thanos_standalone_query.png
Owners: @cloudoperators/greenhouse-observability

add referance for renovate where to look for the packge
  alerts/plugindefinition.yaml
  kube-monitoring/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

chore(renovate): upgrade kube-monitoring plugindefinition
  .github/renovate.json
Owners: @cloudoperators/greenhouse-core

chore(renovate): upgrade alerts plugindefinition
  .github/renovate.json
Owners: @cloudoperators/greenhouse-core

feat(renovate): bump perses plugindefinition automatically
  .github/renovate.json
Owners: @cloudoperators/greenhouse-core

makefile update
  Makefile
  thanos/README.md.gotmpl
Owners: @cloudoperators/greenhouse-backend, @cloudoperators/greenhouse-observability

fix(renovate): bump kube-monitoring & alerts plugindefinition (#668)
  .github/renovate.json
  alerts/plugindefinition.yaml
  kube-monitoring/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-core, @cloudoperators/greenhouse-observability

feat(renovate): bump perses plugindefinition automatically (#669)
  .github/renovate.json
Owners: @cloudoperators/greenhouse-core

update make target for generating readme
  Makefile
  thanos/README.md
  thanos/README.md.gotmpl
  thanos/charts/README.md
Owners: @cloudoperators/greenhouse-backend, @cloudoperators/greenhouse-observability

feat(example-plugin): Delete superseded example-plugin
  example-plugin/.gitignore
  example-plugin/README.md
  example-plugin/bootstrap/clusters.yaml
  example-plugin/bootstrap/example-plugin.yaml
  example-plugin/bootstrap/nodes.yaml
  example-plugin/bootstrap/plugins.yaml
  example-plugin/bootstrap/teams.yaml
  example-plugin/bootstrap/test-org.yaml
  example-plugin/build/app/Dockerfile
  example-plugin/build/app/secretProps.json
  example-plugin/docker-compose.yml
  example-plugin/network-host.docker-compose.yaml
  example-plugin/onboard-cluster.sh
Owners: @cloudoperators/greenhouse-backend

chore(kube-monitoring): add conditions to chart tests
  kube-monitoring/charts/Chart.yaml
  kube-monitoring/charts/templates/tests/test-kube-monitoring-config.yaml
Owners: @cloudoperators/greenhouse-observability

chore(kube-monitoring): add conditions to chart tests (#680)
  kube-monitoring/charts/Chart.yaml
  kube-monitoring/charts/templates/tests/test-kube-monitoring-config.yaml
Owners: @cloudoperators/greenhouse-observability

local bin for helm-docs
  Makefile
Owners: @cloudoperators/greenhouse-backend

fix Make generate-readme
  Makefile
Owners: @cloudoperators/greenhouse-backend

update README gotmpl
  thanos/README.md
  thanos/README.md.gotmpl
Owners: @cloudoperators/greenhouse-observability

thanos bump version
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

thanos version bump
  thanos/charts/Chart.yaml
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

fix version
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

feat(prometheus): add plugindefinition
  prometheus/README.md
  prometheus/logo.png
  prometheus/plugindefinition.yaml
Owners: @cloudoperators/Administrators

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*                         @cloudoperators/Administrators

/.github/                 @cloudoperators/Administrators
/.github/configs/         @cloudoperators/greenhouse-core
/.github/workflows/       @cloudoperators/greenhouse-core
/.github/labeler.yml      @cloudoperators/greenhouse-core
/.github/licenserc.yaml   @cloudoperators/greenhouse-core
/.github/renovate.json    @cloudoperators/greenhouse-core

Makefile                  @cloudoperators/greenhouse-backend
ct.yaml                   @cloudoperators/greenhouse-backend
Dockerfile.otel-collector @cloudoperators/greenhouse-observability
Dockerfile.integration-test @cloudoperators/greenhouse-core @cloudoperators/greenhouse-observability

/docs/                    @cloudoperators/greenhouse-core
/hack/                    @cloudoperators/greenhouse-backend

# The following paths are owned by the respective maintainers
/alerts/                  @cloudoperators/greenhouse-observability
/cert-manager/            @cloudoperators/greenhouse-backend
/example-plugin/                 @cloudoperators/greenhouse-backend
/digicert-issuer/         @cloudoperators/greenhouse-backend
/disco/                   @cloudoperators/greenhouse-backend
/doop/                    @andypf @artiereus @edda @hodanoori @tilmanhaupt @uwe-mayer
/exposed-services/        @cloudoperators/greenhouse-backend
/external-dns/            @cloudoperators/greenhouse-backend
/heureka/                 @andypf @artiereus @edda @hodanoori @tilmanhaupt @uwe-mayer
/ingress-nginx/           @cloudoperators/greenhouse-backend
/kube-monitoring/         @cloudoperators/greenhouse-observability
/kubeconfig-generator/    @Nuckal777 @ivogoman @uwe-mayer
/logshipper/              @cloudoperators/greenhouse-observability @cloudoperators/greenhouse-backend
/opentelemetry/           @cloudoperators/greenhouse-observability
/plutono                  @cloudoperators/greenhouse-observability
/perses                   @cloudoperators/greenhouse-observability
/service-proxy/           @cloudoperators/greenhouse-backend @databus23 
/teams2slack/             @cloudoperators/greenhouse-backend @voigts 
/thanos/                  @cloudoperators/greenhouse-observability
ui/                       @cloudoperators/greenhouse-frontend
/heureka/                 @cloudoperators/greenhouse-src @cloudoperators/greenhouse-frontend @dimtas
/heureka-scanner-k8s-assets/     @cloudoperators/greenhouse-src @dimtas
/heureka-scanner-keppel/  @cloudoperators/greenhouse-src @dimtas
/heureka-scanner-nvd/     @cloudoperators/greenhouse-src @dimtas
/openbao/                 @cloudoperators/greenhouse-src @dimtas
/github-guard/            @cloudoperators/greenhouse-backend
