Repository cloudoperators/greenhouse-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudoperators/Administrators, @cloudoperators/greenhouse-core, @cloudoperators/greenhouse-backend, @cloudoperators/greenhouse-observability, @andypf, @artiereus, @edda, @hodanoori, @tilmanhaupt, @uwe-mayer, @Nuckal777, @ivogoman, @databus23, @voigts, @cloudoperators/greenhouse-frontend, @cloudoperators/greenhouse-src, @dimtas

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*                         @cloudoperators/Administrators

/.github/                 @cloudoperators/Administrators
/.github/configs/         @cloudoperators/greenhouse-core
/.github/workflows/       @cloudoperators/greenhouse-core
/.github/labeler.yml      @cloudoperators/greenhouse-core
/.github/licenserc.yaml   @cloudoperators/greenhouse-core
/.github/renovate.json    @cloudoperators/greenhouse-core

Makefile                  @cloudoperators/greenhouse-backend
ct.yaml                   @cloudoperators/greenhouse-backend
Dockerfile.otel-collector @cloudoperators/greenhouse-observability
Dockerfile.integration-test @cloudoperators/greenhouse-core @cloudoperators/greenhouse-observability

/docs/                    @cloudoperators/greenhouse-core
/hack/                    @cloudoperators/greenhouse-backend

# The following paths are owned by the respective maintainers
/alerts/                  @cloudoperators/greenhouse-observability
/cert-manager/            @cloudoperators/greenhouse-backend
/example-plugin/                 @cloudoperators/greenhouse-backend
/digicert-issuer/         @cloudoperators/greenhouse-backend
/disco/                   @cloudoperators/greenhouse-backend
/doop/                    @andypf @artiereus @edda @hodanoori @tilmanhaupt @uwe-mayer
/exposed-services/        @cloudoperators/greenhouse-backend
/external-dns/            @cloudoperators/greenhouse-backend
/heureka/                 @andypf @artiereus @edda @hodanoori @tilmanhaupt @uwe-mayer
/ingress-nginx/           @cloudoperators/greenhouse-backend
/kube-monitoring/         @cloudoperators/greenhouse-observability
/kubeconfig-generator/    @Nuckal777 @ivogoman @uwe-mayer
/logshipper/              @cloudoperators/greenhouse-observability @cloudoperators/greenhouse-backend
/opentelemetry/           @cloudoperators/greenhouse-observability
/plutono                  @cloudoperators/greenhouse-observability
/perses                   @cloudoperators/greenhouse-observability
/service-proxy/           @cloudoperators/greenhouse-backend @databus23 
/teams2slack/             @cloudoperators/greenhouse-backend @voigts 
/thanos/                  @cloudoperators/greenhouse-observability
ui/                       @cloudoperators/greenhouse-frontend
/heureka/                 @cloudoperators/greenhouse-src @cloudoperators/greenhouse-frontend @dimtas
/heureka-scanner-k8s-assets/     @cloudoperators/greenhouse-src @dimtas
/heureka-scanner-keppel/  @cloudoperators/greenhouse-src @dimtas
/heureka-scanner-nvd/     @cloudoperators/greenhouse-src @dimtas
/openbao/                 @cloudoperators/greenhouse-src @dimtas
/github-guard/            @cloudoperators/greenhouse-backend

Add certs, update naming
  opensearch/chart/Chart.yaml
  opensearch/chart/templates/_helpers.tpl
  opensearch/chart/templates/admin-cert.yaml
  opensearch/chart/templates/config/_config.yml.tpl
  opensearch/chart/templates/config/_internal_users.yml.tpl
  opensearch/chart/templates/custom-security-config.yaml
  opensearch/chart/templates/rest-cert.yaml
  opensearch/chart/templates/transport-cert.yaml
  opensearch/chart/values.yaml
  opensearch/plugindefinition.yaml
  opensearch/values.yaml
Owners: @cloudoperators/Administrators

Automatic application of license header
  opensearch/chart/templates/admin-cert.yaml
  opensearch/values.yaml
Owners: @cloudoperators/Administrators

fix(alerts): rename CA secret
  alerts/charts/Chart.yaml
  alerts/charts/templates/certmanager.yaml
  alerts/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

fix(alerts): add ticks to test resources
  alerts/charts/templates/tests/test-alerts-config.yaml
Owners: @cloudoperators/greenhouse-observability

bump version
  thanos/charts/Chart.yaml
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

chore(alerts): split tests
  alerts/charts/templates/tests/test-alerts-config.yaml
Owners: @cloudoperators/greenhouse-observability

feat(thanos) automate Thanos version update with renovate (#639)
  thanos/charts/Chart.yaml
  thanos/charts/templates/compactor-svc.yaml
  thanos/charts/templates/compactor.yaml
  thanos/charts/templates/pvc.yaml
  thanos/charts/templates/query.yaml
  thanos/charts/templates/ruler/ruler.yaml
  thanos/charts/templates/store-svc.yaml
  thanos/charts/templates/store.yaml
  thanos/charts/values.yaml
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

chore(alerts): add test description
  alerts/charts/templates/tests/test-alerts-config.yaml
Owners: @cloudoperators/greenhouse-observability

chore(alerts): use regular expression for exact match of a resource
  alerts/charts/templates/tests/test-alerts-config.yaml
Owners: @cloudoperators/greenhouse-observability

fix(alerts): refine chart test (#660)
  alerts/charts/Chart.yaml
  alerts/charts/templates/certmanager.yaml
  alerts/charts/templates/tests/test-alerts-config.yaml
  alerts/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

update diagrams
  thanos/README.md
  thanos/img/Thanos-Standalone-Query+Ruler.drawio
  thanos/img/Thanos-Standalone-Query+Ruler.png
  thanos/img/thanos_ruler.png
  thanos/img/thanos_standalone_query.png
Owners: @cloudoperators/greenhouse-observability

update chart
  opensearch/README.md
  opensearch/chart/Chart.lock
  opensearch/chart/Chart.yaml
  opensearch/chart/templates/custom-security-config.yaml
  opensearch/chart/templates/logs-user-password.yaml
  opensearch/chart/templates/rest-cert.yaml
  opensearch/chart/templates/transport-cert.yaml
  opensearch/chart/values.yaml
Owners: @cloudoperators/Administrators

Automatic application of license header
  opensearch/chart/Chart.yaml
  opensearch/chart/templates/custom-security-config.yaml
  opensearch/chart/templates/logs-user-password.yaml
Owners: @cloudoperators/Administrators

update licence info
  opensearch/chart/Chart.yaml
  opensearch/chart/templates/admin-cert.yaml
  opensearch/chart/templates/custom-security-config.yaml
  opensearch/chart/templates/logs-user-password.yaml
Owners: @cloudoperators/Administrators

remove unused values.yaml
  opensearch/values.yaml
Owners: @cloudoperators/Administrators

Add to helm release workflow
  .github/workflows/helm-release.yaml
Owners: @cloudoperators/greenhouse-core

Add CRDS from upstream
  opensearch/chart/crds/opensearch.opster.io_opensearchactiongroups.yaml
  opensearch/chart/crds/opensearch.opster.io_opensearchclusters.yaml
  opensearch/chart/crds/opensearch.opster.io_opensearchcomponenttemplates.yaml
  opensearch/chart/crds/opensearch.opster.io_opensearchindextemplates.yaml
  opensearch/chart/crds/opensearch.opster.io_opensearchismpolicies.yaml
  opensearch/chart/crds/opensearch.opster.io_opensearchroles.yaml
  opensearch/chart/crds/opensearch.opster.io_opensearchtenants.yaml
  opensearch/chart/crds/opensearch.opster.io_opensearchuserrolebindings.yaml
  opensearch/chart/crds/opensearch.opster.io_opensearchusers.yaml
  opensearch/chart/values.yaml
Owners: @cloudoperators/Administrators

Automatic application of license header
  opensearch/chart/crds/opensearch.opster.io_opensearchactiongroups.yaml
  opensearch/chart/crds/opensearch.opster.io_opensearchclusters.yaml
  opensearch/chart/crds/opensearch.opster.io_opensearchcomponenttemplates.yaml
  opensearch/chart/crds/opensearch.opster.io_opensearchindextemplates.yaml
  opensearch/chart/crds/opensearch.opster.io_opensearchismpolicies.yaml
  opensearch/chart/crds/opensearch.opster.io_opensearchroles.yaml
  opensearch/chart/crds/opensearch.opster.io_opensearchtenants.yaml
  opensearch/chart/crds/opensearch.opster.io_opensearchuserrolebindings.yaml
  opensearch/chart/crds/opensearch.opster.io_opensearchusers.yaml
Owners: @cloudoperators/Administrators

Fix helmChart path
  opensearch/plugindefinition.yaml
Owners: @cloudoperators/Administrators

Move users to own resources
  opensearch/chart/templates/config/_internal_users.yml.tpl
  opensearch/chart/templates/users/user-admin-password.yaml
  opensearch/chart/templates/users/user-kibanaserver-password.yaml
  opensearch/chart/templates/users/user-logs-password.yaml
  opensearch/chart/values.yaml
Owners: @cloudoperators/Administrators

chore(deps): upgrade chart kube-prometheus-stack to v69.3.3
  alerts/charts/Chart.lock
  alerts/charts/Chart.yaml
  alerts/charts/charts/kube-prometheus-stack-69.2.3.tgz
  alerts/charts/charts/kube-prometheus-stack-69.3.3.tgz
  kube-monitoring/charts/Chart.lock
  kube-monitoring/charts/Chart.yaml
  kube-monitoring/charts/charts/kube-prometheus-stack-69.2.3.tgz
  kube-monitoring/charts/charts/kube-prometheus-stack-69.3.3.tgz
  thanos/charts/Chart.lock
  thanos/charts/Chart.yaml
  thanos/charts/charts/kube-prometheus-stack-69.2.3.tgz
  thanos/charts/charts/kube-prometheus-stack-69.3.3.tgz
Owners: @cloudoperators/greenhouse-observability

chore(deps): upgrade chart kube-prometheus-stack to v69.3.3 (#661)
  alerts/charts/Chart.lock
  alerts/charts/Chart.yaml
  alerts/charts/charts/kube-prometheus-stack-69.2.3.tgz
  alerts/charts/charts/kube-prometheus-stack-69.3.3.tgz
  kube-monitoring/charts/Chart.lock
  kube-monitoring/charts/Chart.yaml
  kube-monitoring/charts/charts/kube-prometheus-stack-69.2.3.tgz
  kube-monitoring/charts/charts/kube-prometheus-stack-69.3.3.tgz
  thanos/charts/Chart.lock
  thanos/charts/Chart.yaml
  thanos/charts/charts/kube-prometheus-stack-69.2.3.tgz
  thanos/charts/charts/kube-prometheus-stack-69.3.3.tgz
Owners: @cloudoperators/greenhouse-observability

feat(kube-monitoring): ensure unique secret names based on the release
  kube-monitoring/charts/Chart.yaml
  kube-monitoring/charts/templates/_alertmanager-config.yaml.tpl
  kube-monitoring/charts/templates/alertmanager-config.yaml
  kube-monitoring/charts/templates/alertmanager-tls-secret.yaml
  kube-monitoring/charts/values.yaml
  kube-monitoring/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

chore(kube-monitoring): rename secret to prevent `spec.secrets[1]: Duplicate value`
  kube-monitoring/charts/templates/alertmanager-tls-secret.yaml
  kube-monitoring/charts/values.yaml
Owners: @cloudoperators/greenhouse-observability

init helm docs gotmpl
  README.md.gotmpl
  thanos/charts/README.md
  thanos/charts/values.yaml
Owners: @cloudoperators/Administrators, @cloudoperators/greenhouse-observability

chore(kube-monitoring): add dummy secret if alerts not enabled
  kube-monitoring/charts/ci/test-values.yaml
  kube-monitoring/charts/templates/alertmanager-tls-secret.yaml
  kube-monitoring/charts/values.yaml
Owners: @cloudoperators/greenhouse-observability

chore(plutono): remove plutono appVersion
  plutono/charts/Chart.yaml
  plutono/charts/values.yaml
  plutono/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

update diagrams
  thanos/img/Thanos-Standalone-Query.drawio
  thanos/img/Thanos-setup.drawio
  thanos/img/Thanos-standalone-query.png
  thanos/img/thanos_full_diagram.drawio
  thanos/img/thanos_standalone_query.png
Owners: @cloudoperators/greenhouse-observability

update diagram
  thanos/img/thanos_standalone_query.png
Owners: @cloudoperators/greenhouse-observability

chore(plutono): remove plutono appVersion (#664)
  plutono/charts/Chart.yaml
  plutono/charts/values.yaml
  plutono/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

chore(kube-monitoring): add dummy secret explanation
  kube-monitoring/charts/values.yaml
Owners: @cloudoperators/greenhouse-observability

feat(kube-monitoring): ensure unique secret names based on the release (#662)
  kube-monitoring/charts/Chart.yaml
  kube-monitoring/charts/ci/test-values.yaml
  kube-monitoring/charts/templates/_alertmanager-config.yaml.tpl
  kube-monitoring/charts/templates/alertmanager-config.yaml
  kube-monitoring/charts/templates/alertmanager-tls-secret.yaml
  kube-monitoring/charts/values.yaml
  kube-monitoring/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

fix(kube-monitoring): remove secret reference
  kube-monitoring/charts/Chart.yaml
  kube-monitoring/charts/ci/test-values.yaml
  kube-monitoring/charts/templates/_alertmanager-config.yaml.tpl
  kube-monitoring/charts/templates/alertmanager-tls-secret.yaml
  kube-monitoring/charts/values.yaml
  kube-monitoring/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

fix(kube-monitoring): remove secret reference (#666)
  kube-monitoring/charts/Chart.yaml
  kube-monitoring/charts/ci/test-values.yaml
  kube-monitoring/charts/templates/_alertmanager-config.yaml.tpl
  kube-monitoring/charts/templates/alertmanager-tls-secret.yaml
  kube-monitoring/charts/values.yaml
  kube-monitoring/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

chore(kube-monitoring): remove prometheus-operator appVersion from `Charts.yaml`
  kube-monitoring/charts/Chart.yaml
  kube-monitoring/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

chore(kube-monitoring): remove prometheus-operator appVersion from `Charts.yaml` (#667)
  kube-monitoring/charts/Chart.yaml
  kube-monitoring/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

fix(renovate): bump kube-monitoring & alerts plugindefinition
  .github/renovate.json
Owners: @cloudoperators/greenhouse-core

feat(kube-monitoring): adds prometheus blackbox-exporter
  kube-monitoring/charts/Chart.yaml
  kube-monitoring/charts/charts/prometheus-blackbox-exporter-9.2.0.tgz
  kube-monitoring/charts/values.yaml
  kube-monitoring/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

chore(kube-monitoring): introduce ci test values
  kube-monitoring/charts/ci/test-values.yaml
Owners: @cloudoperators/greenhouse-observability

fix(kube-monitoring): blackbox-exporter condition
  kube-monitoring/charts/values.yaml
Owners: @cloudoperators/greenhouse-observability
