Repository cloudoperators/greenhouse-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudoperators/Administrators, @cloudoperators/greenhouse-core, @cloudoperators/greenhouse-backend, @richardtief, @viennaa, @artieReus, @edda, @hodanoori, @tilmanhaupt, @andypf, @uwe-mayer, @artiereus, @Nuckal777, @ivogoman, @timojohlo, @Kuckkuck, @databus23, @voigts, @cloudoperators/greenhouse-frontend

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*                         @cloudoperators/Administrators

/.github/                 @cloudoperators/Administrators
/.github/workflows/       @cloudoperators/greenhouse-core
/.github/labeler.yml      @cloudoperators/greenhouse-backend
/.github/licenserc.yaml   @cloudoperators/greenhouse-backend
/.github/renovate.json    @cloudoperators/greenhouse-backend

Makefile                  @cloudoperators/greenhouse-backend
ct.yaml                   @cloudoperators/greenhouse-backend

/docs/                    @cloudoperators/greenhouse-core
/hack/                    @cloudoperators/greenhouse-backend

# The following paths are owned by the respective maintainers
/alerts/                  @richardtief @viennaa @artieReus @edda @hodanoori @tilmanhaupt @andypf @uwe-mayer
/cert-manager/            @cloudoperators/greenhouse-backend
/dev-env/                 @cloudoperators/greenhouse-backend
/digicert-issuer/         @cloudoperators/greenhouse-backend
/disco/                   @cloudoperators/greenhouse-backend
/doop/                    @andypf @artiereus @edda @hodanoori @tilmanhaupt @uwe-mayer
/exposed-services/        @cloudoperators/greenhouse-backend
/external-dns/            @cloudoperators/greenhouse-backend
/heureka/                 @andypf @artiereus @edda @hodanoori @tilmanhaupt @uwe-mayer
/ingress-nginx/           @cloudoperators/greenhouse-backend
/kube-monitoring/         @richardtief @viennaa
/kubeconfig-generator/    @Nuckal777 @ivogoman @uwe-mayer
/logshipper/              @cloudoperators/greenhouse-backend
/opentelemetry-operator   @timojohlo @Kuckkuck @richardtief @viennaa
/service-proxy/           @cloudoperators/greenhouse-backend @databus23 
/teams2slack/             @cloudoperators/greenhouse-backend @voigts 
ui/                       @cloudoperators/greenhouse-frontend

feat(thanos): configurable compactor
  thanos/charts/Chart.yaml
  thanos/charts/templates/compactor.yaml
  thanos/charts/values.yaml
Owners: @cloudoperators/Administrators

docs(thanos): adding plugin documentation and proper descriptions
  thanos/README.md
  thanos/plugin.yaml
Owners: @cloudoperators/Administrators

chore(thanos): bumps
  thanos/charts/Chart.yaml
  thanos/plugin.yaml
Owners: @cloudoperators/Administrators

feat(alerts/ui): show summary instead of fingerprint of inhibitor
  alerts/ui/src/components/alerts/AlertStatus.jsx
Owners: @cloudoperators/greenhouse-frontend

feat(alerts/ui): Added ErrorBoundryto App.js closes #201
  alerts/ui/package-lock.json
  alerts/ui/package.json
  alerts/ui/src/App.jsx
Owners: @cloudoperators/greenhouse-frontend

[opentelemetry-operator] allow to individually enable or disable crds
  opentelemetry-operator/chart/crds/crd-smon.yaml
  opentelemetry-operator/chart/templates/crds.yaml
Owners: @timojohlo, @Kuckkuck, @richardtief, @viennaa

[opentelemetry-operator] allow to individually enable or disable crds (#202)
  opentelemetry-operator/chart/crds/crd-smon.yaml
  opentelemetry-operator/chart/templates/crds.yaml
Owners: @timojohlo, @Kuckkuck, @richardtief, @viennaa

[opentelemetry-operator] bump chart
  opentelemetry-operator/chart/Chart.yaml
Owners: @timojohlo, @Kuckkuck, @richardtief, @viennaa

[opentelemetry-operator] bump chart (#203)
  opentelemetry-operator/chart/Chart.yaml
Owners: @timojohlo, @Kuckkuck, @richardtief, @viennaa

[opentelemetry-operator] add CRDs flags to values, rm wrong license, bump chart
  opentelemetry-operator/chart/Chart.yaml
  opentelemetry-operator/chart/crds/crd-smon.yaml
  opentelemetry-operator/chart/values.yaml
Owners: @timojohlo, @Kuckkuck, @richardtief, @viennaa

Revert "[opentelemetry-operator] allow to individually enable or disable crds…"
  opentelemetry-operator/chart/templates/crds.yaml
  opentelemetry-operator/chart/templates/smon.yaml
Owners: @timojohlo, @Kuckkuck, @richardtief, @viennaa

[opentelemetry-operator] rm crds.yaml
  opentelemetry-operator/chart/templates/crds.yaml
Owners: @timojohlo, @Kuckkuck, @richardtief, @viennaa

feat(service-proxy): pin image.tag to current image version of greenhouse
  service-proxy/charts/1.0.0/service-proxy/Chart.yaml
  service-proxy/charts/1.0.0/service-proxy/values.yaml
Owners: @cloudoperators/greenhouse-backend, @databus23

[opentelemetry-operator] bump chart version
  opentelemetry-operator/chart/Chart.yaml
Owners: @timojohlo, @Kuckkuck, @richardtief, @viennaa

Revert "[opentelemetry-operator] allow to individually enable or disable crds" (#205)
  opentelemetry-operator/chart/Chart.yaml
  opentelemetry-operator/chart/templates/crds.yaml
  opentelemetry-operator/chart/templates/smon.yaml
Owners: @timojohlo, @Kuckkuck, @richardtief, @viennaa

feat(service-proxy): add metrics endpoint to service
  service-proxy/charts/1.0.0/service-proxy/Chart.yaml
  service-proxy/charts/1.0.0/service-proxy/templates/service.yaml
  service-proxy/charts/1.0.0/service-proxy/values.yaml
  service-proxy/plugin.yaml
Owners: @cloudoperators/greenhouse-backend, @databus23

feat(dev-env): Reuse core dev-env
  dev-env/README.md
  dev-env/build/app/Dockerfile
  dev-env/build/greenhouse/Dockerfile
  dev-env/build/greenhouse/secretProps.json
  dev-env/docker-compose.yml
  dev-env/network-host.docker-compose.yaml
  dev-env/package-lock.json
Owners: @cloudoperators/greenhouse-backend

Move dev-env to example-plugin
  dev-env/.gitignore
  example-plugin/.gitignore
  example-plugin/README.md
  example-plugin/bootstrap/clusters.yaml
  example-plugin/bootstrap/example-plugin.yaml
  example-plugin/bootstrap/nodes.yaml
  example-plugin/bootstrap/plugins.yaml
  example-plugin/bootstrap/teams.yaml
  example-plugin/bootstrap/test-org.yaml
  example-plugin/build/app/Dockerfile
  example-plugin/build/app/secretProps.json
  example-plugin/docker-compose.yml
  example-plugin/network-host.docker-compose.yaml
  example-plugin/onboard-cluster.sh
Owners: @cloudoperators/greenhouse-backend, @cloudoperators/Administrators

feat(service-proxy): add metrics endpoint to service (#209)
  service-proxy/charts/1.0.0/service-proxy/Chart.yaml
  service-proxy/charts/1.0.0/service-proxy/templates/service.yaml
  service-proxy/charts/1.0.0/service-proxy/values.yaml
  service-proxy/plugin.yaml
Owners: @cloudoperators/greenhouse-backend, @databus23

feat(alerts/ui): show summary instead of fingerprint of inhibitor (#199)
  alerts/ui/package-lock.json
  alerts/ui/package.json
  alerts/ui/src/App.jsx
  alerts/ui/src/components/alerts/AlertStatus.jsx
Owners: @cloudoperators/greenhouse-frontend

[opentelemetry-operator] make smon conditional
  opentelemetry-operator/chart/Chart.yaml
  opentelemetry-operator/chart/templates/smon.yaml
Owners: @timojohlo, @Kuckkuck, @richardtief, @viennaa

[opentelemetry-operator] add new line
  opentelemetry-operator/chart/templates/smon.yaml
Owners: @timojohlo, @Kuckkuck, @richardtief, @viennaa

[opentelemetry-operator] make smon conditional (#211)
  opentelemetry-operator/chart/Chart.yaml
  opentelemetry-operator/chart/templates/smon.yaml
Owners: @timojohlo, @Kuckkuck, @richardtief, @viennaa

[opentelemetry-operator] change condition to index notation
  opentelemetry-operator/chart/templates/smon.yaml
Owners: @timojohlo, @Kuckkuck, @richardtief, @viennaa

[opentelemetry-operator] bump chart version
  opentelemetry-operator/chart/Chart.yaml
Owners: @timojohlo, @Kuckkuck, @richardtief, @viennaa

[opentelemetry-operator] change condition to index notation (#212)
  opentelemetry-operator/chart/Chart.yaml
  opentelemetry-operator/chart/templates/smon.yaml
Owners: @timojohlo, @Kuckkuck, @richardtief, @viennaa
