Repository cloudoperators/greenhouse-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudoperators/Administrators, @cloudoperators/greenhouse-core, @cloudoperators/greenhouse-backend, @cloudoperators/greenhouse-observability, @andypf, @artiereus, @edda, @hodanoori, @tilmanhaupt, @uwe-mayer, @Nuckal777, @ivogoman, @databus23, @voigts, @cloudoperators/greenhouse-frontend, @cloudoperators/greenhouse-src, @dimtas

Update security settings
  opensearch/chart/templates/custom-security-config.yaml
  opensearch/chart/templates/logs-user-password.yaml
  opensearch/chart/values.yaml
Owners: @cloudoperators/Administrators

Remove crds
  opensearch/chart/crds/opensearch.opster.io_opensearchactiongroups.yaml
  opensearch/chart/crds/opensearch.opster.io_opensearchclusters.yaml
  opensearch/chart/crds/opensearch.opster.io_opensearchcomponenttemplates.yaml
  opensearch/chart/crds/opensearch.opster.io_opensearchindextemplates.yaml
  opensearch/chart/crds/opensearch.opster.io_opensearchismpolicies.yaml
  opensearch/chart/crds/opensearch.opster.io_opensearchroles.yaml
  opensearch/chart/crds/opensearch.opster.io_opensearchtenants.yaml
  opensearch/chart/crds/opensearch.opster.io_opensearchuserrolebindings.yaml
  opensearch/chart/crds/opensearch.opster.io_opensearchusers.yaml
Owners: @cloudoperators/Administrators

Remove testing files
  opensearch/chart/templates/user-secret.yaml
  opensearch/chart/test3.yaml
  opensearch/chart/values2.yaml
Owners: @cloudoperators/Administrators

Automatic application of license header
  opensearch/chart/templates/custom-security-config.yaml
Owners: @cloudoperators/Administrators

Remove duplicate
  opensearch/plugin/opensearch-operator/2.6.0/plugindefinition.yaml
Owners: @cloudoperators/Administrators

chore(kubeconfig-generator): bump chart & app version (#635)
  kubeconfig-generator/chart/Chart.yaml
  kubeconfig-generator/plugindefinition.yaml
Owners: @Nuckal777, @ivogoman, @uwe-mayer

feat(alerts): CA cert creation via cert-manager
  alerts/charts/templates/_helper.tpl
  alerts/charts/templates/am-ca-bundle-secret.yaml
  alerts/charts/templates/am-webhook-secrets.yaml
  alerts/charts/templates/ca-secret-issuer-cert.yaml
  alerts/charts/templates/certmanager.yaml
  alerts/charts/templates/hooks/caBundle-secret.yaml
  alerts/charts/templates/tests/test-alerts-config.yaml
  alerts/charts/templates/tests/test-alerts.yaml
  alerts/charts/values.yaml
Owners: @cloudoperators/greenhouse-observability

hide oauth2proxy behind a feature toggle
  service-proxy/charts/1.0.0/service-proxy/templates/ingress.yaml
  service-proxy/charts/1.0.0/service-proxy/templates/oauth2-proxy-deployment.yaml
  service-proxy/charts/1.0.0/service-proxy/templates/oauth2-proxy-ingress.yaml
  service-proxy/charts/1.0.0/service-proxy/templates/oauth2-proxy-service.yaml
  service-proxy/charts/1.0.0/service-proxy/values.yaml
Owners: @cloudoperators/greenhouse-backend, @databus23

update template values
  thanos/charts/templates/servicemonitor.yaml
  thanos/charts/templates/tests/test-thanos-config.yaml
  thanos/charts/values.yaml
Owners: @cloudoperators/greenhouse-observability

update plugindefinition
  thanos/charts/values.yaml
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

fix role for CI to get/list servicemonitors CR
  thanos/charts/templates/tests/test-permissions.yaml
Owners: @cloudoperators/greenhouse-observability

test fix CI
  thanos/charts/ci/test-values.yaml
Owners: @cloudoperators/greenhouse-observability

feat(thanos) ServiceMonitor (#633)
  thanos/charts/Chart.yaml
  thanos/charts/ci/test-values.yaml
  thanos/charts/templates/servicemonitor.yaml
  thanos/charts/templates/tests/test-permissions.yaml
  thanos/charts/templates/tests/test-thanos-config.yaml
  thanos/charts/values.yaml
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

bump version
  perses/charts/Chart.yaml
  perses/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

chore(deps): update chart kube-prometheus-stack to v69.2.3
  alerts/charts/Chart.lock
  alerts/charts/Chart.yaml
  alerts/charts/charts/kube-prometheus-stack-68.3.0.tgz
  alerts/charts/charts/kube-prometheus-stack-69.2.3.tgz
  alerts/plugindefinition.yaml
  kube-monitoring/charts/Chart.lock
  kube-monitoring/charts/Chart.yaml
  kube-monitoring/charts/charts/kube-prometheus-stack-68.3.0.tgz
  kube-monitoring/charts/charts/kube-prometheus-stack-69.2.3.tgz
  kube-monitoring/plugindefinition.yaml
  thanos/charts/Chart.lock
  thanos/charts/Chart.yaml
  thanos/charts/charts/kube-prometheus-stack-68.3.0.tgz
  thanos/charts/charts/kube-prometheus-stack-69.2.3.tgz
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

chore(thanos): remove duplicate version field
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

chore(deps): update chart kube-prometheus-stack to v69.2.3 (#638)
  alerts/charts/Chart.lock
  alerts/charts/Chart.yaml
  alerts/charts/charts/kube-prometheus-stack-68.3.0.tgz
  alerts/charts/charts/kube-prometheus-stack-69.2.3.tgz
  alerts/plugindefinition.yaml
  kube-monitoring/charts/Chart.lock
  kube-monitoring/charts/Chart.yaml
  kube-monitoring/charts/charts/kube-prometheus-stack-68.3.0.tgz
  kube-monitoring/charts/charts/kube-prometheus-stack-69.2.3.tgz
  kube-monitoring/plugindefinition.yaml
  thanos/charts/Chart.lock
  thanos/charts/Chart.yaml
  thanos/charts/charts/kube-prometheus-stack-68.3.0.tgz
  thanos/charts/charts/kube-prometheus-stack-69.2.3.tgz
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

fix(alerts): correct formatting in values.yaml for caCert comment
  alerts/charts/values.yaml
Owners: @cloudoperators/greenhouse-observability

chore(alerts): improve description in values.yaml
  alerts/charts/templates/hooks/caBundle-secret.yaml
  alerts/charts/values.yaml
Owners: @cloudoperators/greenhouse-observability

chore(alerts): disable certManager for helm-lint and helm-test
  alerts/ci/test-values.yaml
Owners: @cloudoperators/greenhouse-observability

chore(alerts): move ci folder into charts/
  alerts/charts/ci/test-values.yaml
Owners: @cloudoperators/greenhouse-observability

chore(alerts): increase versions
  alerts/charts/Chart.yaml
  alerts/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

renovate thanos customManager
  .github/renovate.json
Owners: @cloudoperators/greenhouse-core

chore(alerts): name cert-manager resources like the organisation
  alerts/charts/templates/certmanager.yaml
Owners: @cloudoperators/greenhouse-observability

update customManager
  .github/renovate.json
Owners: @cloudoperators/greenhouse-core

chore(alerts): add shared prometheus cert
  alerts/charts/templates/certmanager.yaml
  alerts/charts/values.yaml
Owners: @cloudoperators/greenhouse-observability

docs(alerts): adds cert-manager option values and explaination
  alerts/README.md
Owners: @cloudoperators/greenhouse-observability

chore(alerts): add cert-manager options to plugindefinition
  alerts/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

docs(alerts): improve wording
  alerts/README.md
Owners: @cloudoperators/greenhouse-observability

feat(alerts): CA cert creation via cert-manager (#637)
  alerts/README.md
  alerts/charts/Chart.yaml
  alerts/charts/ci/test-values.yaml
  alerts/charts/templates/_helper.tpl
  alerts/charts/templates/am-ca-bundle-secret.yaml
  alerts/charts/templates/am-webhook-secrets.yaml
  alerts/charts/templates/ca-secret-issuer-cert.yaml
  alerts/charts/templates/certmanager.yaml
  alerts/charts/templates/hooks/caBundle-secret.yaml
  alerts/charts/templates/tests/test-alerts-config.yaml
  alerts/charts/templates/tests/test-alerts.yaml
  alerts/charts/values.yaml
  alerts/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

docs(alerts): fix cert-manager option table
  alerts/README.md
Owners: @cloudoperators/greenhouse-observability

docs(alerts): fix cert-manager option table (#640)
  alerts/README.md
Owners: @cloudoperators/greenhouse-observability

fix(alerts): quote dnsNames starting with asterisk
  alerts/charts/Chart.yaml
  alerts/charts/templates/certmanager.yaml
  alerts/charts/values.yaml
  alerts/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

chore(alerts): add baseDomain to ci test values
  alerts/charts/ci/test-values.yaml
Owners: @cloudoperators/greenhouse-observability

chore(alerts): fix ci test value baseDomain
  alerts/charts/ci/test-values.yaml
Owners: @cloudoperators/greenhouse-observability

fix(alerts): quote dnsNames starting with asterisk (#641)
  alerts/charts/Chart.yaml
  alerts/charts/ci/test-values.yaml
  alerts/charts/templates/certmanager.yaml
  alerts/charts/values.yaml
  alerts/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

Update README.md
  thanos/README.md
Owners: @cloudoperators/greenhouse-observability

add flow contorl to ruler svc
  thanos/charts/templates/ruler/ruler-svc.yaml
Owners: @cloudoperators/greenhouse-observability

bump version
  thanos/charts/Chart.yaml
  thanos/plugindefinition.yaml
Owners: @cloudoperators/greenhouse-observability

extend thanos ruler chart tests
  thanos/charts/templates/tests/test-permissions.yaml
  thanos/charts/templates/tests/test-thanos-config.yaml
Owners: @cloudoperators/greenhouse-observability

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*                         @cloudoperators/Administrators

/.github/                 @cloudoperators/Administrators
/.github/configs/         @cloudoperators/greenhouse-core
/.github/workflows/       @cloudoperators/greenhouse-core
/.github/labeler.yml      @cloudoperators/greenhouse-core
/.github/licenserc.yaml   @cloudoperators/greenhouse-core
/.github/renovate.json    @cloudoperators/greenhouse-core

Makefile                  @cloudoperators/greenhouse-backend
ct.yaml                   @cloudoperators/greenhouse-backend
Dockerfile.otel-collector @cloudoperators/greenhouse-observability
Dockerfile.integration-test @cloudoperators/greenhouse-core @cloudoperators/greenhouse-observability

/docs/                    @cloudoperators/greenhouse-core
/hack/                    @cloudoperators/greenhouse-backend

# The following paths are owned by the respective maintainers
/alerts/                  @cloudoperators/greenhouse-observability
/cert-manager/            @cloudoperators/greenhouse-backend
/example-plugin/                 @cloudoperators/greenhouse-backend
/digicert-issuer/         @cloudoperators/greenhouse-backend
/disco/                   @cloudoperators/greenhouse-backend
/doop/                    @andypf @artiereus @edda @hodanoori @tilmanhaupt @uwe-mayer
/exposed-services/        @cloudoperators/greenhouse-backend
/external-dns/            @cloudoperators/greenhouse-backend
/heureka/                 @andypf @artiereus @edda @hodanoori @tilmanhaupt @uwe-mayer
/ingress-nginx/           @cloudoperators/greenhouse-backend
/kube-monitoring/         @cloudoperators/greenhouse-observability
/kubeconfig-generator/    @Nuckal777 @ivogoman @uwe-mayer
/logshipper/              @cloudoperators/greenhouse-observability @cloudoperators/greenhouse-backend
/opentelemetry/           @cloudoperators/greenhouse-observability
/plutono                  @cloudoperators/greenhouse-observability
/perses                   @cloudoperators/greenhouse-observability
/service-proxy/           @cloudoperators/greenhouse-backend @databus23 
/teams2slack/             @cloudoperators/greenhouse-backend @voigts 
/thanos/                  @cloudoperators/greenhouse-observability
ui/                       @cloudoperators/greenhouse-frontend
/heureka/                 @cloudoperators/greenhouse-src @cloudoperators/greenhouse-frontend @dimtas
/heureka-scanner-k8s-assets/     @cloudoperators/greenhouse-src @dimtas
/heureka-scanner-keppel/  @cloudoperators/greenhouse-src @dimtas
/heureka-scanner-nvd/     @cloudoperators/greenhouse-src @dimtas
/openbao/                 @cloudoperators/greenhouse-src @dimtas
/github-guard/            @cloudoperators/greenhouse-backend
