Repository cloudoperators/greenhouse-extensions, pull requests merged in 2025-01, with the labels that each got.

#539 Add Perses Plugin
  .github/licenserc.yaml
  kube-monitoring/charts/Chart.yaml
  kube-monitoring/charts/templates/configmap-perses-datasource.yaml
  kube-monitoring/charts/values.yaml
  kube-monitoring/plugindefinition.yaml
  perses/README.md
  perses/charts/.helmignore
  perses/charts/Chart.lock
  perses/charts/Chart.yaml
  perses/charts/charts/perses-0.7.4.tgz
  perses/charts/dashboards/api-server.json
  perses/charts/dashboards/core-dns.json
  perses/charts/dashboards/kubernetes-container-resources.json
  perses/charts/dashboards/kubernetes-node.json
  perses/charts/dashboards/project.json
  perses/charts/dashboards/prometheus-details.json
  perses/charts/templates/_helper.tpl
  perses/charts/templates/configmap-perses-manifests.yaml
  perses/charts/values.schema.json
  perses/charts/values.yaml
  perses/img/perses-arch.drawio
  perses/img/perses-arch.png
  perses/logo.png
  perses/plugindefinition.yaml
Labels: dashboard visualisation

#566 fix(Perses): chart name and update CI workflows
  .github/CODEOWNERS
  .github/workflows/ci-pr-build.yaml
  .github/workflows/helm-release.yaml
  perses/charts/Chart.yaml
  perses/charts/values.yaml
Labels: dashboard visualisation

#557 [opentelemetry] add templating for ceph and kvm
  opentelemetry/README.md
  opentelemetry/chart/Chart.yaml
  opentelemetry/chart/templates/_ceph-config.tpl
  opentelemetry/chart/templates/_kvm-config.tpl
  opentelemetry/chart/templates/logs-collector.yaml
  opentelemetry/chart/values.yaml
  opentelemetry/plugindefinition.yaml
Labels: logs, otel

#575 chore(opentelemetry) bump version
  Dockerfile.otel-collector
  opentelemetry/chart/Chart.yaml
  opentelemetry/chart/values.yaml
  opentelemetry/plugindefinition.yaml
Labels: opentelemetry

#591 feat(opentelemetry) add failover
  opentelemetry/README.md
  opentelemetry/chart/Chart.yaml
  opentelemetry/chart/ci/test-values.yaml
  opentelemetry/chart/templates/logs-collector.yaml
  opentelemetry/chart/templates/secret.yaml
  opentelemetry/chart/values.yaml
  opentelemetry/plugindefinition.yaml
Labels: opentelemetry
